.options {
	margin: 16px;
	display: flex;
	/* flex-direction: column; */
}

.Option-unselected {
	margin: 16px;
	padding: 10px;
	border-radius: 25px;
	width: 8vw;
	border: 0px;
	background-color: #ececec;
	/* position: relative; */
}

.Option-selected {
	background-color: red;
	margin: 16px;
	padding: 10px;
	border-radius: 25px;
	width: 8vw;
	border: 0px;
}
